* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #244145;
  background-color: #CACBD3 ;
}
section{
  border-radius: 20px;
  box-shadow: 10px 40px 50px rgba(166, 169, 182, .4);
  padding: 30px;
  margin: 20px 0;
  width: 49%;
}
.coding{
  background-color: #EDEDF0;
  /* font-size: 10px; */
}
.container{
  width: 80%;
  margin: 0 auto;
  
}
.avatar img{
  max-width: 250px;
  border-radius: 50%;
}

section img{
  max-width: 450px;
  margin-top: 20px;
}
.avatar, .main{
  display: flex;
  flex-wrap: wrap;
   justify-content: space-between;
}
.avatar{
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.name{
  text-align: center;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
  color: #244145
}
nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li{
  padding: 0 20px;
  line-height: 50px;
  
}
nav a{
  color: white;
}
footer, header{
  color: white;
  background-color: #32374E;
}
.bstu{
  margin-top: 20px;
  max-width: 450px;
}
h2{
  padding-bottom: 20px;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.school, .github {
  max-width: 230px;
  display: block;
  padding: 20px 0;
}

@media (max-width: 768px) {
  section {
    width: 100%;
  }
}